body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image:url(Images/Padel.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    color: white;
    text-align: center;
    padding: 30px;
  }

input[type="date"] {
    cursor: pointer;
  }
  
  
  .price {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .booking-card {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    width: 320px;
    margin: auto;
    border-radius: 10px;
  }
  
  input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
  }
  
  button {
    background: #00c853;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background: #009624;
  }
  
  ul {
    list-style: none;
    padding: 0;
    max-width: 300px;
    margin: 20px auto;
  }
  
  li {
    padding: 8px;
    margin: 5px 0;
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
  }
  